form {
    width: 420px;
    text-align: left;
    margin-top: 50px;
}
mat-card {
    width: 388px;
    margin-bottom: 1rem;
}
mat-form-field {
    width: 100%;
}
mat-card-actions {
    position: absolute;
    top: 0;
    right: 16px;
}
mat-icon {
    color: #ccc;
}
small {
    color: #666;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 0.5rem;
    line-height: 1.25;
    font-size: .8rem;
}
span.fullname {
    color: #cd0101;
    font-size: 18px;
}