mat-card {
  width: 60vw;
}

mat-card-header {
  display:block;
  min-height:30px;
  margin-bottom: 10px;
}

h3 {
  color: #f00;
  padding: 0;
  margin: 0;
}

.example-chip-list {
  width: 100%;
}

.mat-card-header {
  display: block;
  text-align: center;
}

.mat-card-actions {
  margin-right: 0;
  margin-bottom: 0 !important;
}


